.header>.title {
  font-family: var(--truffle-font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 8px;
}

.header>.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.header>.description>.login-toggle {
  margin-left: 8px;
  cursor: pointer;
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.input-wrapper {
  margin: 16px 0;
}

.input-wrapper.has-error {
  color: red;
}