:host {
  background: var(--tfl-color-bg-fill);
  color: var(--tfl-color-on-bg-fill);

  --tfl-color-secondary-bg-border: rgba(22, 31, 44, 1);
  --tfl-color-secondary-bg-fill: rgba(22, 31, 44, 1);
  --tfl-color-secondary-bg-fill-hovered: rgb(50, 70, 99);
}

:host>.count {
  background: rgba(0, 0, 0, 0.1);
  padding: 8px;
}

:host>.button {
  background: rgba(255, 0, 0, 0.2);
  border: none;
  padding: 8px;
  margin-top: 4px;
  cursor: pointer;
}

:host >.c-active-poll {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 0 var(--tfl-spacing-layout-lg);
}

:host >.c-active-poll>.header {
  margin-bottom: var(--tfl-spacing-layout-sm);
}

:host >.c-active-poll>.header>.title {
  display: flex;
  justify-content: center;

  font-size: var(--tfl-font-size-heading-md);
  line-height: var(--tfl-line-height-heading-md);
  font-family: var(--tfl-font-family-heading-sans);
  margin-bottom: var(--tfl-spacing-xs);
}

:host >.c-active-poll>.options {
  display: grid;
  grid-gap: var(--tfl-spacing-layout-2xs);
}

:host >.c-active-poll>.options>.option {
  padding: var(--tfl-spacing-sm);
  border: var(--tfl-border-width-sm) solid var(--tfl-color-secondary-bg-border);
  border-radius: var(--tfl-border-radius-md);
  background-color: var(--tfl-color-secondary-bg-fill);
  cursor: pointer;
}

:host .primary-button {
  display: flex;
  justify-content: center;
  height: 40px;
  font-weight: var(--tfl-font-weight-body-semibold);
  --tfl-color-surface-fill: var(--tfl-color-secondary-fill);
}

:host .primary-button:hover {
  --tfl-color-surface-fill-hovered: var(--tfl-color-secondary-fill-hovered);
}

:host .primary-button:active {
  --tfl-color-surface-fill-pressed: var(--tfl-color-secondary-fill-pressed);
}


:host >.c-active-poll>.options>.is-selected {
  border: var(--tfl-border-width-sm) solid var(--tfl-color-primary-border);
}

:host >.c-active-poll>.options >.error {
  display: flex;
  justify-content: center;
  font-family: var(--tfl-font-family-body-sans);
  line-height: var(--tfl-line-height-body-md);
  font-size: var(--tfl-font-size-body-md);

  font-weight: var(--tfl-font-weight-body-medium);
  color: var(--tfl-color-critical-text);
}

:host >.c-active-poll>.options>.option:not(.is-selected):hover {
  background: var(--tfl-color-secondary-bg-fill-hovered);
}