:host(.is-ios) > svg > path {
  -webkit-transition: none;
  transition: none;
}

:host {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

:host > svg {
  vertical-align: middle;
  margin: auto;
  -webkit-tap-highlight-color: transparent;
}

:host(.is-centered) {
  margin: auto;
}

:host(.is-circled) {
  background: var(--inherit-base);
  border: 1px solid var(--inherit-base-text-10);
  border-radius: 50%;
  cursor: pointer;
}

:host(.hover) {
  border: 1px solid var(--inherit-base-text-40);
}

:host(.is-clickable) {
  cursor: pointer;
}

:host(.is-aligned-top) {
  margin-top: -12px;
}

:host(.is-aligned-top) > svg {
  margin-top: 12px;
}

:host(.is-aligned-left) {
  margin-left: -12px;
}

:host(.is-aligned-left) > svg {
  margin-left: 12px;
}

:host(.is-aligned-right) {
  margin-left: auto;
  margin-right: -12px;
}

:host(.is-aligned-right) > svg {
  margin-right: 12px;
}

:host(.is-aligned-bottom) {
  margin-left: auto;
  margin-bottom: -12px;
}

:host(.is-aligned-bottom) > svg {
  margin-bottom: 12px;
}
