.c-sign-up-form {
  > .title {
    // @include font-h5();

    text-align: center;
  }

  > .description {
    // @include font-body2();

    text-align: center;
    margin-bottom: 20px;
  }

  > .form {
    > .input {
      margin-bottom: 12px;
    }

    > .save {
      margin-top: 24px;

      > .terms {
        // @include font-caption1(normal);

        margin-top: 8px;

        a {
          // @include font-caption2(normal);
        }
      }
    }
  }
}
