.z-button {
  font-size: calc(14px * var(--body-font-size-multiplier));
  font-family: var(--body-font);
  color: inherit;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  border-radius: calc(12px * var(--border-radius-multiplier));
  cursor: pointer;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  transition: border 0.1s cubic-bezier(0.4, 0, 0.2, 1), background 0.1s cubic-bezier(0.4, 0, 0.2, 1);

  &.tile-button {
    justify-content: flex-start;
    text-align: left;
    padding: 16px;
    min-width: 210px;
  }

  > .tile-container {
    display: flex;
    flex-direction: column;

    > .icon-wrapper {
      margin-bottom: 11px;
    }

    > .secondary-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      &.invisible::before {
        content: '_';
      }

      &.invisible {
        visibility: hidden;
      }
    }

    > .primary-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:hover {
    transition: border 0.1s cubic-bezier(0.4, 0, 0.2, 1), background 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.style-inherit {
    background: var(--inherit-base);
    color: var(--inherit-base-text);

    &:hover {
      background: var(--inherit-mod-direct-2);
      border: 1px solid var(--inherit-mod-inverse-2);
    }

    &.is-selected {
      background: var(--inherit-mod-direct-3);
      border: 1px solid var(--inherit-mod-inverse-4);
    }
  }

  &.style-primary {
    background: var(--primary-base);
    color: var(--primary-base-text);

    &:hover {
      background: var(--primary-mod-direct-2);
      border: 1px solid var(--primary-mod-inverse-2);
    }

    &.is-selected {
      background: var(--primary-mod-direct-3);
      border: 1px solid var(--primary-mod-inverse-4);
    }
  }

  &.style-primary-outline {
    border: 1px solid var(--primary-base);
    color: var(--primary-base);

    &:hover {
      border: 1px solid var(--primary-mod-inverse-2);
    }

    &.is-selected {
      border: 1px solid var(--primary-mod-inverse-4);
    }
  }

  &.style-secondary {
    background: var(--secondary-base);
    color: var(--secondary-base-text);

    &:hover {
      background: var(--secondary-mod-direct-2);
      border: 1px solid var(--secondary-mod-inverse-2);
    }

    &.is-selected {
      background: var(--secondary-mod-direct-3);
      border: 1px solid var(--secondary-mod-inverse-4);
    }
  }

  &.style-secondary-outline {
    border: 1px solid var(--secondary-base);
    color: var(--secondary-base);

    &:hover {
      border: 1px solid var(--secondary-mod-inverse-2);
    }

    &.is-selected {
      border: 1px solid var(--secondary-mod-inverse-4);
    }
  }

  &.style-bgInverse {
    background: var(--bg-mod-inverse-1);
    color: var(--bg-mod-inverse-1-text);

    &:hover {
      background: var(--bg-mod-inverse-1);
    }

    &.is-selected {
      border: 1px solid var(--bg-mod-inverse-2-text);
    }
  }

  &.style-bg {
    background: var(--bg-base);
    color: var(--bg-base-text);
    border: 1px solid var(--bg-base-text-20);

    &:hover {
      border: 1px solid var(--bg-base-text);
    }

    &.is-selected {
      color: var(--secondary-base);
      border: 1px solid var(--secondary-base);
    }
  }

  &.style-text {
    color: var(--inherit-base-text);

    &:hover {
      background: var(--inherit-base-text-6);
    }

    &.is-selected {
      border: 1px solid var(--inherit-base-text);
    }
  }

  &.style-link {
    color: var(--inherit-base-text);
    text-decoration: underline;

    &:hover {
      background: var(--inherit-base-text-6);
    }

    &.is-selected {
      border: 1px solid var(--inherit-base-text);
    }
  }

  &.style-premium {
    background: linear-gradient(94deg, var(--secondary-base) 0%, var(--primary-base) 100%), var(--secondary-base);
    color: var(--secondary-base-text);
    border: none;

    &:hover {
      background: var(--secondary-base);
      border: none;
    }

    &.is-selected {
      background: var(--secondary-mod-inverse-1);
    }
  }

  &.size-small {
    padding: 2px 16px;

    &.icon-location-left > .icon-wrapper {
      margin-right: 4px;
    }

    &.icon-location-right > .icon-wrapper {
      margin-left: 4px;
    }
  }

  &.size-medium {
    padding: 6px 16px;
    height: 40px;

    &.icon-location-left > .icon-wrapper {
      margin-right: 4px;
    }

    &.icon-location-right > .icon-wrapper {
      margin-left: 4px;
    }
  }

  &.size-large {
    padding: 10px 24px;
    height: 48px;

    &.icon-location-left > .icon-wrapper {
      margin-right: 12px;
    }

    &.icon-location-right > .icon-wrapper {
      margin-left: 12px;
    }
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.remove-border, &.remove-border:hover {
    border: none;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.remove-border:hover {
    transform: scale(103%);
  }

  &.is-full-width {
    width: 100%;
  }
}