.c-poll-options {
  display: grid;
  grid-gap: var(--tfl-spacing-layout-2xs);
}

.c-poll-options > .is-selected {
  border: var(--tfl-border-width-sm) solid var(--tfl-color-primary-border);
}

.c-poll-options > .is-disabled {
  pointer-events: none;
}

.c-poll-options > .error {
  display: flex;
  justify-content: center;
  font-family: var(--tfl-font-family-body-sans);
  line-height: var(--tfl-line-height-body-md);
  font-size: var(--tfl-font-size-body-md);

  font-weight: var(--tfl-font-weight-body-medium);
  color: var(--tfl-color-critical-text);
}
