@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600&display=swap");
.spotify-component {
  --alpha-multiplier: 0.95;
  --background-primary: rgba(40, 40, 40, var(--alpha-multiplier));
  --background-tooltip: black;
  --progress-bar-background: rgba(255, 255, 255, calc(0.2 * var(--alpha-multiplier)));
  --progress-bar-complete: #71DBDB;
  --spotify-width: 400px;
  --spotify-height: 88px;
  --spotify-min-width: 200px;
  --spotify-min-height: 32px;
  --top-margin: 45px;
  width: var(--spotify-width);
  height: var(--spotify-height);
  margin-top: var(--top-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: height 0.5s, margin 0.5s, width 0.5s;
  transition: height 0.5s, margin 0.5s, width 0.5s;
  background: var(--background-primary);
  color: white;
  border-radius: var(--tfl-border-radius-md);
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, calc(0.3 * var(--alpha-multiplier)));
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, calc(0.3 * var(--alpha-multiplier)));
}

.spotify-component > .controls {
  pointer-events: none;
  white-space: nowrap;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  position: absolute;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: inherit;
  text-align: right;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.spotify-component > .controls > div {
  pointer-events: all;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px 0px 5px;
}

.spotify-component > .album-art {
  pointer-events: none;
  height: inherit;
}

.spotify-component > .song-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
}

.spotify-component > .song-info > .artist-title-container {
  font-family: 'Poppins', sans-serif;
  padding-top: 6px;
  height: 100%;
  width: calc(var(--spotify-width) - var(--spotify-height) - 75px);
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.spotify-component > .song-info > .artist-title-container > .song-title {
  -webkit-transition: line-height 0.5s, margin 0.5s;
  transition: line-height 0.5s, margin 0.5s;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spotify-component > .song-info > .artist-title-container > .song-title > a {
  color: white;
  text-decoration: none;
}

.spotify-component > .song-info > .artist-title-container > .song-title > a:hover {
  text-decoration: underline;
}

.spotify-component > .song-info > .artist-title-container > .artist-name {
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
  padding-top: 1px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spotify-component > .song-info > .artist-title-container > .artist-name > p {
  display: inline;
}

.spotify-component > .song-info > .artist-title-container > .artist-name > p:after {
  content: ", ";
}

.spotify-component > .song-info > .artist-title-container > .artist-name > p:last-child:after {
  content: "";
}

.spotify-component > .song-info > .artist-title-container > .artist-name > p > a {
  color: white;
  text-decoration: none;
}

.spotify-component > .song-info > .artist-title-container > .artist-name > p > a:hover {
  text-decoration: underline;
}

.spotify-component > .song-info > .progress-text-container {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  margin-right: 16px;
}

.spotify-component > .song-info > .progress-text-container > .progress {
  text-align: left;
  width: 100%;
}

.spotify-component > .song-info > .progress-text-container > .length {
  text-align: right;
  width: 100%;
}

.spotify-component > .song-info > .progress-bar-outer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: var(--progress-bar-background);
  height: 4px;
  border-radius: 10px;
  margin-right: 16px;
  margin-bottom: 9px;
}

.spotify-component > .song-info > .progress-bar-outer > .progress-bar-inner {
  --song-position: 0%;
  border-radius: inherit;
  height: 100%;
  background: var(--progress-bar-complete);
  width: MIN(var(--song-position), 100%);
}

.spotify-component.collapsed {
  margin-top: calc(var(--top-margin) + var(--spotify-height) - var(--spotify-min-height));
  width: var(--spotify-min-width);
  height: var(--spotify-min-height);
}

.spotify-component.collapsed > .controls {
  -webkit-filter: opacity(0);
          filter: opacity(0);
  pointer-events: none;
}

.spotify-component.collapsed > .controls > div {
  pointer-events: none;
}

.spotify-component.collapsed > .album-art {
  height: inherit;
}

.spotify-component.collapsed > .song-info > .artist-title-container {
  width: calc(var(--spotify-min-width) - var(--spotify-min-height) - 20px);
}

.spotify-component.collapsed > .song-info > .artist-title-container > .song-title {
  pointer-events: none;
  line-height: 20px;
  margin-left: -7px;
}

.spotify-component.collapsed > .song-info > .artist-title-container > .artist-name {
  pointer-events: none;
  padding-left: 250px;
}
/*# sourceMappingURL=App.css.map */