.App {
  /* max-width: 1280px; */
  /* padding-top: 6rem; */
  text-align: center;
  background: #111;


  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  /* Without border-box, the red outline will get cut off by the draggable clip path */
  box-sizing: border-box;
  /* border: red 10px solid; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.truffle:hover {
  filter: drop-shadow(0 0 2em #F357A1);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
