$container-width: 95vw;

:host {
  .c-snack-bar-container {
    position: fixed;
    bottom: 16px;
    width: $container-width;
    left: calc((100vw - #{$container-width}) / 2);
    overflow: visible;
  }
}
