:host {
  background-color: var(--truffle-color-bg-primary);
  color: var(--truffle-color-text-bg-primary);
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 24px 20px;
  border-radius: calc(8px * var(--truffle-border-radius-multiplier));
}